#Icon {
	width: 400px;
}

body {
	height: 100%;
	background-color: #F2F2F2;
}

#parent{
	width: 100%;
	height: 100%;
}

.detail-topList {
	width: 1200px;
	padding: 15px;
	// height: 45px;
	margin: 0 auto;

	.detail-topListUl {
		width: 100%;
		// height: 100%;
		margin: 0 auto;
		margin-top:10px;
		.ant-menu  .ant-menu-sub .ant-menu-vertical .ant-menu-hidden{
			padding:35px;
			box-sizing: border-box;
			min-width: 160px;
		}
	}


	.detail-headerList {
		width: 100%;
		height: 60px;
		background: url('./img/headerBg.jpg') repeat-x;

		.hearerListUl {
			margin: 0 auto;
			width: 100%;
			height: 100%;

			.headerItem {
				margin-top: 15px;
				margin-right: 20px;
				height: 28px;
				line-height: 28px;
				float: left;
				background-color: #fff;
				border-radius: 14px;
				font-size: 14px;
				padding: 0 10px;
				box-sizing: border-box;

				span {
					margin-right: 5px;
				}
			}
		}
	}

	.detail-content {
		.content-list {
			margin: 0 auto;
			overflow: hidden;
			width: 100%;

			.content-item {
				float: left;
				width: 380px;
				height: 312px;
				background-color: #fff;
				padding-top: 10px;
				padding-left: 20px;
				box-sizing: border-box;
				margin-top: 20px;
				margin-left: 10px;
				border-radius: 20px;
				cursor:pointer;

				.img {
					width: 340px;
					height: 209px;
				}

				.tags {
					margin-top: 2px;
					width: 100%;

					.tagsList {
						height: 18px;

						.tagsItem {
							float: left;

							.ant-tag {
								height: 18px;
								text-align: center;
								line-height: 18px;
							}
						}
					}
				}

				.title {
					font-size: 20px;
					font-weight: 700;
					color: black;
					margin: 5px 0;
					overflow: hidden;
          white-space: nowrap;
          text-overflow:ellipsis;
				}

				.code {
					font-size: 12px;
					margin: 5px 0;

					span {
						margin: 5px;
					}

					.code1 {
						color: #FFB60F;
					}
				}

				.price {
					font-size: 14px;
					color: #F18248;

					.num {
						font-size: 20px;
						font-weight: 700;
						color: #F18248;
					}
				}
			}
		}
	}

	.detail-pagination {
		width: 32%;
		margin:20px auto;
	}
}