.wrap_wrap{
  position: relative;
  .wrap_swiper{
    width: 100%;
    height: 375px;  
    background-image:url("https://p1.meituan.net/iphoenix/3d1f903d47e845f896568b43d3bccc282623564.jpg.webp") ;
    background-repeat: no-repeat;
    background-position: center;
    .swiper{
      width: 100%;
      height: 100%;
      // background-color: red;
      .ant-carousel .slick-slide {
        text-align: center;
        height: 375px;
        line-height: 375px;
        // background: #364d79;
        overflow: hidden;
      }
      
      .ant-carousel .slick-slide img {
        width: 100%;
        height: 375px;
        // vertical-align: middle;
        margin: 0 auto;
      }
    }
    .wrap_search{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 1000px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      .current_city{
        position: relative;
        text-align: center;
        color: #333;
        font-size: 18px;  
        i{
          font-size: 22px;
          color: #999;
        }
        .city_name{
          margin: 0 10px; 
        }
        .border_right{
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%,-50%);
          display: inline-block;
          width: 1px;
          height: 32px;        
          background: #ccc; 
        }
      }
      .select_Date{
        position: static;
        .ant-calendar-picker{
          font-size: 18px;
          width: 100%;
          height: 100%;
          .ant-input{
            height: 67px;
            padding:0 15px;
            // border:1px solid transparent;
            border: none;
          }
          .ant-calendar-range-picker-separator{
            line-height: 70px;
          }
        }
      }
      .search_btn{
        width: 180px;
        height: 70px;
        line-height: 70px;
        float: right;
        .ant-btn{
          width: 170px;
          height: 60px;
          line-height: 60px;
          color: #333;
          font-size: 20px;
          font-weight: bold;
          margin: 5px;
          border: none;          
          background: linear-gradient(90deg,#FFDF55,#FFCF01);
          &:hover{
            color: #333;
          }
        }
      }
    }
  }
  
}
